<section class="main">
  <div class="top">
    <h1 class="mat-h1">Preference Center</h1>

    <button mat-raised-button (click)="openDeleteAccountDialog()" color="warn">
      <span class="hidden-mobile">Delete account</span>
      <mat-icon class="hidden-desktop" aria-label="Delete account icon">delete</mat-icon>
    </button>
  </div>


  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Preference">
      <section class="main">
        <h4 class="mat-h4">Manage you choice regarding the channel you want to get notified on.</h4>


        <mat-card class="consent-card">
          <mat-card-content>
            <p>Consent preference:</p>

            <div class="checkboxes-grid-options">
              <mat-checkbox id="email-checkbox" [formControl]="email_notifications" color="primary" class="option">
                email
              </mat-checkbox>
              <mat-checkbox id="sms-checkbox" [formControl]="sms_notifications" color="primary" class="option">
                sms
              </mat-checkbox>
            </div>

          </mat-card-content>

        </mat-card>


      </section>
    </mat-tab>

    <mat-tab label="Overview">
      <section class="main">

        <!-- <div> {{ eventsTrail | async | json }} </div> -->

        <h4 class="mat-h4">Review your event perference history.</h4>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

          <!-- Position Column -->
          <ng-container matColumnDef="sn">
            <th mat-header-cell *matHeaderCellDef> SN </th>
            <td mat-cell *matCellDef="let element"> {{element.sn}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Medium </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef> Enabled </th>
            <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          
        </table>
        <mat-paginator [length]="dataSource.totalPerference" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
      </section>
    </mat-tab>
  </mat-tab-group>

</section>